MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/rogue_rider?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://username:password@cluster0.mongodb.net/rogue_rider?retryWrites=true&w=majority
MONGO_URI_FALLBACK=mongodb://127.0.0.1:27017/rogue_rider
FRONTEND_URL=http://localhost:5173
PORT=5000
NODE_ENV=development
